---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white lg:text-5xl md:text-6xl tracking-tight">
    Create your upcoming feature with a combination of expeditious execution and unwavering dependability.
  </h2>
  <!-- <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Pull content from anywhere and serve it fast with Astro's next-gen island
    architecture.
  </p> -->
  <div class="flex mt-5">
    <Link href="/contact" style="inverted">Send a message</Link>
  </div>
</div>
