---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Define scope",
    description:
      "Here we map out the requirements clearly, so we can understand what the end-product is, and have a better idea of the intended use-case for the feature we are building.",
    icon: "clarity:flow-chart-solid",
  },
  {
    title: "Design",
    description:
      "With the scope defined, I then create a prototype for your idea. It usually is Figma design or the structure of the back end and it’s endpoints. But not limited to it.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Develop",
    description:
      "I build and test your new feature, based on the scope defined. If it is a website, for instance, I test it’s responsiveness, the load time and the overall user-experience.",
    icon: "ic:twotone-developer-mode",
  },
  {
    title: "Support",
    description:
      "With the feature developed, I usually give a 30 to 60 days support for the solution. It means that if the solution needs maintenance, we got you cover, and you can focus on building your business.",
    // icon: "game-icons:life-support",
    icon: 'icons8:support'
  },
  {
    title: "Maybe Analytics",
    description:
      "I believe that data is the most powerful tool for informed decision-making. With that in mind, setting up deep analytics to provide insights and meaningful data is almost always a good idea, so you can see that data and plan the future of your business.",
    // icon: "bx:bxs-file-find",
    icon: 'grommet-icons:analytics'
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    How I get things done
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Fast and transparent. Unlock your next feature with just a single click, bridging the gap between you and innovation. <br />
    Embracing the Waterfall methodology, I ensure a systematic progression through each phase of the entire process.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
