---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";
// import AstroLogo from "@assets/astro-logo.svg";
import AstroLogo from "@assets/astro-logo-light.png";
---

<main
  class="lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <!-- <div class="py-6 md:order-1 hidden md:block"> -->
  <!--   <Picture -->
  <!--     src={heroImage} -->
  <!--     alt="Astronaut-in-the-air-web-developer-full-stack" -->
  <!--     widths={[200, 400, 600]} -->
  <!--     aspectRatio="4:3" -->
  <!--     sizes="(max-width: 800px) 100vw, 620px" -->
  <!--     loading="eager" -->
  <!--     format="avif" -->
  <!--   /> -->
  <!-- </div> -->
  <div>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter text-center">
      hey hey people, diego here
    </h1>
    <div class="mt-4 flex gap-2 text-center">
      <!-- <h2 class="text-2xl font-bold xl:tracking-tighter align-middle"> -->
      <!--   Built and mainteined with love and -->
      <!--           <Image src={AstroLogo} class="ml-1 inline-block w-14" alt="Astro-framework-react" /> -->
      <!--   Astro -->
      <!-- </h2> -->
    </div>
  </div>
</main>
